//给项目提供scss全局变量

//左侧菜单宽度
$sliderWidth:260px;
$sliderMinWidth:50px;
//左侧菜单颜色
$sliderBackgroundColor: #001529;
//顶部导航高度
$tabbarHeight: 50px;
//左侧菜单logo高度
$sliderLogoHeight: 50px;
//左侧菜单logo右侧文字大小
$sliderTitleFontSize: 16px;